In [1]:
import pandas as pd
fp = "../data/sba_7a_loans.csv"
df = pd.read_csv(fp)

/var/folders/fb/t_m5qpcj6qq85rvkh73vbxh40000gn/T/ipykernel_44700/3705498770.py:3: DtypeWarning: Columns (34,35,39) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(fp)

In [2]:
subset_cols = ["BorrName", "BankFDICNumber", "BankZip", "BorrZip", "NaicsCode", "FranchiseCode",\
               "BusinessAge", "LoanStatus", "SBAGuaranteedApproval"]
df = df[subset_cols]

In [3]:
filter_PIF = (df.LoanStatus == "PIF")
filter_CHGOFF = (df.LoanStatus == "CHGOFF")
filter_criteria = filter_PIF | filter_CHGOFF
df = df[filter_criteria].reset_index(drop=True)

In [4]:
df_missing_vals = pd.DataFrame.from_dict({c:df[c].isnull().sum() for c in subset_cols if df[c].isnull().sum() > 0},\
                                         orient="index").reset_index()
df_missing_vals.columns = ["Attribute", "Missing Value Count"]
df_missing_vals

        Attribute  Missing Value Count
0  BankFDICNumber                 2122
1   FranchiseCode                19923
2     BusinessAge                   53

In [5]:
for a in df_missing_vals["Attribute"]:
    df[a] = df[a].fillna("Not Applicable")

In [6]:
{c:df[c].isnull().sum() for c in subset_cols if df[c].isnull().sum() > 0}

{}

In [7]:
df["BankFDICNumber"] = df["BankFDICNumber"].apply(lambda x: x if x == "Not Applicable" else int(x))
df["NaicsCode"] = df["NaicsCode"].apply(lambda x: x if x == "Not Applicable" else int(x))
dtypes_toset = {"BorrZip": 'str', "BankZip": "str", "BankFDICNumber": 'str',\
                "NaicsCode": 'str', "FranchiseCode": 'str', \
                "BusinessAge" : 'str', "LoanStatus": 'str', "SBAGuaranteedApproval" : float}
df = df.astype(dtypes_toset)

In [8]:
df

,BorrName,BankFDICNumber,BankZip,BorrZip,NaicsCode,FranchiseCode,BusinessAge,LoanStatus,SBAGuaranteedApproval
0,Allen Foot and Ankle Medicine,57512,85004,85212,621391,Not Applicable,Existing or more than 2 years old,PIF,175000.0
1,Town Cleaners,24170,90010,22201,812320,Not Applicable,Existing or more than 2 years old,CHGOFF,11000.0
2,Moor Inc.,628,43240,94061,445110,Not Applicable,Existing or more than 2 years old,PIF,24500.0
3,Mimo Lash And Skin LLC,26610,90010,7030,812199,Not Applicable,Existing or more than 2 years old,PIF,28500.0
4,Moor Inc.,628,43240,94061,445110,Not Applicable,Existing or more than 2 years old,PIF,50500.0
...,...,...,...,...,...,...,...,...,...
22956,JK Freight LLC,6560,43215,46239,484121,Not Applicable,New Business or 2 years or less,PIF,12500.0
22957,Muirhead Group LLC,12633,65101,65255,722513,Not Applicable,Existing or more than 2 years old,PIF,38900.0
22958,JP ELECTRICAL CONTRACTOR,34968,918,674,238390,Not Applicable,Existing or more than 2 years old,PIF,25000.0
22959,ANOUSHEH ASHOURI INC.,Not Applicable,7922,92618,621111,Not Applicable,Existing or more than 2 years old,PIF,22500.0
22960,Fur Fluffs Sake LLC,Not Applicable,1752,1752,812910,Not Applicable,New Business or 2 years or less,PIF,31450.0

In [9]:
gb = df.groupby(["NaicsCode", "LoanStatus"], as_index=False)

In [10]:
dfnaics_summ = gb.size()

In [11]:
dfnaics_summ = dfnaics_summ.sort_values(by=["NaicsCode"])

In [12]:
#dfnaics_summ[(dfnaics_summ["NaicsCode"].value_counts() == 1)]

In [13]:
naics_filter = (dfnaics_summ["NaicsCode"].value_counts() == 1)

In [14]:
dfnaics_vc = dfnaics_summ["NaicsCode"].value_counts().reset_index()

In [15]:
dfnaics_vc.columns = ["NaicsCode", "LoanStatusCard"]

In [16]:
filter_ss_naics_codes = (dfnaics_vc.LoanStatusCard == 1)
ss_naics_codes = dfnaics_vc[filter_ss_naics_codes]["NaicsCode"]

In [17]:
dfnaics_vc[~filter_ss_naics_codes]

    NaicsCode  LoanStatusCard
0      442291               2
1      541370               2
2      532310               2
3      532490               2
4      541110               2
..        ...             ...
272    611699               2
273    621310               2
274    611691               2
275    321999               2
276    621999               2

[277 rows x 2 columns]

In [18]:
df[df["NaicsCode"].isin(ss_naics_codes)]["LoanStatus"].value_counts()

PIF       4757
CHGOFF       8
Name: LoanStatus, dtype: int64

In [19]:
df[df["NaicsCode"].isin(ss_naics_codes)]["NaicsCode"].value_counts()

447110    250
531130    144
722410    124
623312     92
541512     90
         ...
111419      1
336411      1
561591      1
111140      1
459120      1
Name: NaicsCode, Length: 583, dtype: int64

In [20]:
gb = df.groupby(["BankZip", "LoanStatus"], as_index=False)

In [21]:
dfbank_zip_summ = gb.size()
dfbank_zip_summ = dfbank_zip_summ.sort_values(by=["BankZip"])

In [22]:
bankzip_filter = (dfbank_zip_summ["BankZip"].value_counts() == 1)

In [23]:
dfbank_zip_vc = dfbank_zip_summ["BankZip"].value_counts().reset_index()
dfbank_zip_vc.columns = ["BankZip", "LoanStatusCard"]
filter_ss_bankzip = (dfbank_zip_vc.LoanStatusCard == 1)
ss_bankzip_codes = dfbank_zip_vc[filter_ss_bankzip]["BankZip"]

In [24]:
df[df["BankZip"].isin(ss_bankzip_codes)]["LoanStatus"].value_counts()

PIF       8300
CHGOFF       9
Name: LoanStatus, dtype: int64

In [32]:
df_trim = df[df["BankZip"].isin(ss_bankzip_codes)].index.union(df[df["NaicsCode"].isin(ss_naics_codes)].index)

In [33]:
df_trim.shape

(10909,)

In [34]:
gb = df.groupby(["BorrZip", "LoanStatus"], as_index=False)
dfborr_zip_summ = gb.size()
dfborr_zip_summ = dfborr_zip_summ.sort_values(by=["BorrZip"])

In [35]:
borrzip_filter = (dfborr_zip_summ["BorrZip"].value_counts() == 1)

In [37]:
dfborr_zip_vc = dfborr_zip_summ["BorrZip"].value_counts().reset_index()
dfborr_zip_vc.columns = ["BorrZip", "LoanStatusCard"]
filter_ss_borrzip = (dfborr_zip_vc.LoanStatusCard == 1)
ss_borrzip_codes = dfborr_zip_vc[filter_ss_borrzip]["BorrZip"]

In [38]:
df[df["BorrZip"].isin(ss_borrzip_codes)]["LoanStatus"].value_counts()

PIF       19549
CHGOFF      250
Name: LoanStatus, dtype: int64